doctype html
html
	head
		title= title
		//- link(rel='stylesheet', href='/stylesheets/lib/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/stylesheets/lib/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.container
			block content
	script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	script(src='/javascripts/lib/bootstrap.min.js')
	script(src='/javascripts/lib/vue.min.js')
	script(src='/javascripts/min/functions.min.js')