extends layout

block content
	h1= title
	p Login to #{title}
	.btn-group
		button(type='button' , class='btn btn-default btn-sm') 新規登録	
		button(type='button' , class='btn btn-default btn-sm') ログイン
		button(type='button' , class='btn btn-default btn-sm') ログアウト